<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
<title>Student Home</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/CSS/studentpage.css">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="#">POD7 COLLEGE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/student/index">HOME <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/student/profile">PROFILE</a>
      <a class="nav-item nav-link active" href="/">LOG OUT</a>
    </div>
  </div>
</nav>
<body>

<div class="container">
<div class="row">
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-12 col-xxl-12">

<h3 style="color:green;"><b>APPLICATION FOR PG PROGRAMS</b></h3>

<h3 style="color:green;"><b>PERSONAL DETAILS</b></h3>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<form th:action="@{/profilepg}" method="post" th:object="${studentprofile}">

<table class="table table-borderless">
<tr>
    <td>FIRST NAME</td>
    <td><input type="text" class="form-control" name="fname" th:field="*{fname}"></td>
    <td>LAST NAME</td>
    <td><input type="text" class="form-control" name="lname" th:field="*{lname}"></td>
</tr>
<tr>
    <td>FATHER NAME</td>
    <td><input type="text" class="form-control" name="fathername" th:field="*{fathername}"></td>
</tr>
<tr>
    <td>MOTHER NAME</td>
    <td><input type="text" class="form-control" name="mothername" th:field="*{mothername}"></td>
</tr>
<tr>
    <td>GENDER</td>
    <td>MALE<input type="radio"  name="gender"  value="M" th:field="*{gender}">&nbsp;&nbsp;
      FEMALE<input type="radio"  name="gender"  value="F" th:field="*{gender}">&nbsp;&nbsp;
      OTHERS<input type="radio"  name="gender"  value="O" th:field="*{gender}"></td>
</tr>
<tr>
    <td>DOB</td>
    <td><input type="date" class="form-control" name="dob" th:field="*{dob}"></td>
</tr>
<tr>
    <td>HOUSE NAME</td>
    <td><input type="text" class="form-control" name="hname" th:field="*{hname}"></td>
</tr>
<tr>
    <td>STREET/ROAD/LANE</td>
    <td><input type="text" class="form-control" name="street" th:field="*{street}"></td>
</tr>
<tr>
    <td>DISTRICT</td>
    <td><input type="text" class="form-control" name="district" th:field="*{district}"></td>
</tr>
<tr>
    <td>STATE</td>
    <td><input type="text" class="form-control" name="state" th:field="*{state}"></td>
</tr>
<tr>
    <td>MOBILE NUMBER</td>
    <td><input type="text" class="form-control" name="mobileno" th:field="*{mobileno}" maxlength="10" placeholder="" pattern="{0-9}{10}" required></td>
</tr>





<tr>
    <td><br><h3 style="color:green;"><b>ACCADEMIC QUALIFICATION</b></h3></td>
</tr>
<tr>
    <td><hr style="height:2px;border-width:0;color:gray;background-color:gray"></td>
</tr>



<tr>
    <th></th>
    <th>BOARD</th>
    <th>MARKS(In %)</th>
    <th>YEAR OF PASSING</th>
</tr>
<tr>
    <td><b>10<sup>th</sup>  GRADE</b></td>
    <td><input type="text" class="form-control" name="sslcboard" th:field="*{sslcboard}"></td>
    <td><input type="text" class="form-control" name="sslcmarks" th:field="*{sslcmarks}"></td>
    <td><input type="text" class="form-control" name="sslcyear" th:field="*{sslcyear}"></td>
</tr>
<tr>
    <td><b>HIGHER SECONDARY</b></td>
    <td><input type="text" class="form-control" name="hsboard" th:field="*{hsboard}"></td>
    <td><input type="text" class="form-control" name="hsmarks" th:field="*{hsmarks}"></td>
    <td><input type="text" class="form-control" name="hsyear" th:field="*{hsyear}"></td>
</tr>
<tr>
    <td><b>DEGREE PROGRAM</b></td>
    <td><input type="text" class="form-control" name="ugboard" th:field="*{ugboard}"></td>
    <td><input type="text" class="form-control" name="ugmarks" th:field="*{ugmarks}"></td>
    <td><input type="text" class="form-control" name="ugyear" th:field="*{ugyear}"></td>
</tr>

<tr>
<td><b>COURSE</b></td>
<td><select name="pgcourse" id="course" th:field="*{pgcourse}" class="form-control">
  <option value="#">--SELECT COURSE--</option>
  <option value="MCA">MCA</option>
  <option value="MBA">MBA</option>
  <option value="MSW">MSW</option>
</select></td>
</tr>


<!-- <tr>
    <td><br><h3 style="color:green;"><b>DOCUMENTS UPLOAD</b></h3></td>
</tr>
<tr>
    <td><hr style="height:2px;border-width:0;color:gray;background-color:gray"></td>
</tr>



<tr>
    <td>PHOTO (jpg/jpeg/png)</td>
    <td><input type="file" name="photo" class="custom-file-input"></td>
</tr>
<tr>
    <td>10<sup>th</sup>  MARKLIST</td>
    <td><input type="file" name="sslc" class="custom-file-input"></td>
</tr>
<tr>
    <td>HIGHER SECONDARY MARKLIST</td>
    <td><input type="file" name="hs" class="custom-file-input"></td>
</tr>
<tr>
    <td>DEGREE CERTIFICATE/CONSOLIDATED MARKLIST</td>
    <td><input type="file" name="ug" class="custom-file-input"></td>
</tr> -->
<tr>
    <td></td>
    <td><br><button class="btn btn-success">SUBMIT</button></td>
</tr>

</table>
</form>

</div>
</div>
</div>




</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>